# Ropsten node config

ROPSTEN_HOST = localhost
ROPSTEN_PORT = 8000
ROPSTEN_FROM_ADDRRESS = 0x78eeFFaFb9ddBd78272c850534e03a05C3e8C29c

# Infura config

WALLET_MNEMONIC = virus real trap broccoli define genre puppy since gown gadget oak key
INFURA_API_KEY = saAmPLe_ApiKeY
