# The API key provided by INFURA after signup
INFURA_API_KEY = sEcrEtaPIKeyeXRrKqAB

# The 12-word mnemonic associated with the Ethereum account the migration will use
WALLET_MNEMONIC = house road dog horse car sky cloud sun truck tree day night
