.craftable-card {
  background: white;
  margin-top: 30px;
  min-height: 200px !important;
  transition: all 0.15s ease-in-out;
}

.craftable-card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.craftable-image-container {
  display: flex;
}
.overflow-hidden {
  overflow: hidden !important;
}
.craftable-image {
  height: 128px !important;
  max-width: inherit!important;
  width: auto!important;
}

.craftable-text-container {
  position: relative;
}

.craftable-text {
  position: absolute;
  bottom: 0px;
  background-color: #ffffff;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.craftable-text h3 {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.1px;
  color: #000000;
  margin: 8px 0 0 0;
}
.craftable-text p {
  font-family: 'Open Sans';
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #141414;
  margin: 0 0 8px 0;
  height: 22px;
  overflow: hidden;
}
.craftable-text .balance-text {
  opacity: 0.6;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-align: right;
  color: #141414;
  margin-bottom: 4px;
}
.basic-img {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 15px;
  margin-bottom: 11px;
}
