footer {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    margin: 0.75rem;
    background: hsla(0, 0%, 100%, .15);
    border: 1px solid #000;
    z-index: 10;

    min-height: 20vh;
}
