footer {
  background: white;
  margin: 0;
  z-index: 10;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.7);
  min-height: 65px;
  margin-top: 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer p {
	text-align: right;
  margin: 0;
}
body {
	margin-bottom: 65px !important;
}

footer .strong {
  font-family: 'Open Sans';
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #505050;
}
footer .light {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-align: right;
  color: #505050;
  padding-left: 1rem;
}
footer span {
  padding: 0 3px;
}
