header {
    margin: 0.75rem;
    background: hsla(0, 0%, 100%, .15);
    border: 1px solid #000;
    z-index: 10;

    height: 20vh;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 2rem;
}

.info-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.info-item {
    border: 1px solid red;

    padding: 0.75rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
