header {
    background: white;
    z-index: 10;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem 0;
}

.info-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    padding-right: 0.6875rem;
}

.info-item {
    font-family: 'Open Sans';
    font-size: 13px;
    letter-spacing: 0.1px;
    color: #505050;
    opacity: 0.7;
    padding: 10px;
    margin: 0.25rem;
}
