.input-token-field {
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: all 0.3s ease-in-out;
    transform-origin: top center;
    max-height: 200px;
}

.input-token-field.deleting {
    opacity: 0;
    transform: scaleY(0);
    max-height: 0;
}

input[type="checkbox"],
button.button,
{
    margin-bottom: 0;
}

.dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 200px;
    border: 1px dashed #000000;
    border-radius: 5px;
}
